  <!DOCTYPE html>
  <html class="login-bg">
  <head>
    <title>Detail Admin - Sign in</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- bootstrap -->
      <link href="{{ STATIC_URL }}css/libs/bootstrap/bootstrap.css" rel="stylesheet" />
      <link href="{{ STATIC_URL }}css/libs/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

      <!-- global styles -->
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" />
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/elements.css" />
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/icons.css" />

      <!-- libraries -->
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libs/font-awesome.css" />

      <!-- this page specific styles -->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/signin.css" type="text/css" media="screen" />

      {% comment %}
      <!-- open sans font -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      {% endcomment %}
  </head>
  <body>
      <div class="login-wrapper">
          <a href="index.html">
              <img class="logo" src="{{ STATIC_URL }}img/logo-white.png" alt="logo" />
          </a>

          <div class="box">
              <div class="content-wrap">
                  {% block content %}{% endblock %}
              </div>
          </div>

          <div class="no-account">
              <p>Don't have an account?</p>
              <a href="signup.html">Sign up</a>
          </div>
      </div>

    <!-- scripts -->
      <script src="{{ STATIC_URL }}js/libs/jquery.min.js"></script>
      <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
      <script src="{{ STATIC_URL }}js/theme.js"></script>
  </body>
</html>

