{% extends "public_layout.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
  <div class="col-md-offset-3 col-md-6">
    <h1>{% trans "Set Password" %}</h1>
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
      {% csrf_token %}
      {% bootstrap_form form layout="inline" %}
      {% buttons %}
        <button type="submit" class="btn-flat success text-upper">
          {% trans 'Set Password' %}
        </button>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}

{% block extra_body %}
  <script>
    $("#id_email").focus();
  </script>
{% endblock %}
