{% extends "public_layout.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="col-md-offset-3 col-md-6">
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
      <br>
      Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
      <h1>{% trans "Change Password" %}</h1>
      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="inline" %}
        {% buttons %}
          <button type="submit" class="btn-flat success text-upper">
            {% trans 'Change Password' %}
          </button>
        {% endbuttons %}
      </form>
      <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    {% endif %}
  </div>
{% endblock %}

{% block extra_body %}
  <script>
    $("#id_email").focus();
  </script>
{% endblock %}
