{% extends "layout.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap3 %}
{% load account %}

{% load deck_tags %}

{% block head_title %}
  {% trans "Profile" %}
{% endblock %}

{% block head %}
  <!-- libraries for this page -->
  <link href="{% static 'css/profile.css' %}" type="text/css" rel="stylesheet" />
  <link href="{% static 'css/libs/cropit.css' %}" type="text/css" rel="stylesheet" />

  {{ form.media }}
{% endblock head %}

{% block content %}
  <div class="row header">
    <h2>{% trans "Profile" %}</h2>
  </div>
  <div class="row form-wrapper">
    <!-- left column -->
    <div class="column">
      <div class="row" id="profile-detail">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="profile-photo" class="text-center">
                <div class="thumbnail">
                  <div class="avatar">
                    <img class="avatar-image" src="{{ object.user|get_user_photo:200 }}">
                  </div>
                  <button class="btn-flat gray text-upper change-picture-button-js">
                    <i class="icon-camera"></i> {% trans 'Change photo.' %}
                  </button>

                  <form id="update-profile-picture-form" method="POST" action="{% url 'update_profile_picture' object.user.username %}" enctype="multipart/form-data" class="row">
                    {% csrf_token %}
                    <div class="hide">
                      {% bootstrap_field profile_form.image layout='inline' %}
                      <input type="hidden" class="hidden-profile-picture-js" value="{{ object.user|get_user_photo:200 }}">
                    </div>
                    <div class="col-md-12">
                      <button class="col-md-12 btn-flat danger text-upper hide cancel-button-js">
                        <i class="icon-remove"></i>
                        {% trans "cancel" %}
                      </button>
                      <button type="submit" class="col-md-12 btn-flat success text-upper hide submit-picture-button-js">
                        <i class="icon-camera"></i>
                        {% trans "submit" %}
                      </button>
                    </div>
                  </form>

                </div>
              </div>
              <div class="clearfix-on-small"></div>
              <div id="profile-info">
                <div class="name">
                  <h3>
                    {{ object.user.get_full_name|default:object.user.username }}
                    <small>@{{ object.user.username }}</small>
                    <div id="profile-links">
                      <a href="{{ object.get_github_url|default:'javascript:;' }}" class="btn btn-default btn-sm {% if not object.github %}disabled{% endif %}" target="_blank">
                        <i class="icon-github"></i>
                      </a>
                      <a href="{{ object.get_facebook_url|default:'javascript:;' }}" class="btn btn-default btn-sm {% if not object.facebook %}disabled{% endif %}" target="_blank">
                        <i class="icon-facebook"></i>
                      </a>
                      <a href="{{ object.get_site_url|default:'javascript:;' }}" class="btn btn-default btn-sm {% if not object.site %}disabled{% endif %}" target="_blank">
                        <i class="icon-globe"></i>
                      </a>
                      <a href="mailto:{{ object.user.email }}" class="btn btn-default btn-sm" target="_blank">
                        <i class="icon-envelope"></i>
                      </a>
                    </div>
                  </h3>
                </div>
                <hr>
                <div class="about">
                  <h4>{% trans "About Me" %}</h4>
                  <p>
                    {{ object.about_me|default:_('-')|linebreaks }}
                  </p>
                </div>
              </div>
            </div>
            {% if object.user.id == request.user.id or request.user.is_superuser %}
              <div class="panel-footer event-actions text-center">
                <a href="javascript:;" data-toggle="modal" data-target="#update-profile-modal" class="btn-flat gray text-upper" data-toggle="tooltip" title="{% trans 'Edit profile.' %}">
                  <i class="icon-pencil"></i> {% trans "Edit" %}
                </a>
                <a href="javascript:;" data-toggle="modal" data-target="#change-language-modal" class="btn-flat gray text-upper" data-toggle="tooltip" title="{% trans 'Change Language.' %}">
                  <i class="icon-globe"></i> {% trans "Change Language" %}
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% with object.get_profile_events as events %}
    {% if events.exists %}
      <div class="row header">
        <h2>{% trans "Events" %}</h2>
      </div>
      <div class="row" id="event-list">
        <div class="col-md-12">
          <div id="event-proposals">
            {% for event in events %}
              {% include "event/snippets/event_list_item.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endwith %}

  {% with object.get_profile_proposals as proposals %}
    {% if proposals.exists %}
      <div class="row header">
        <h2>{% trans "Proposals" %}</h2>
      </div>
      <div class="row" id="proposal-list">
        <div class="col-md-12">
          <div id="event-proposals">
            {% for proposal in proposals %}
              {% include "proposal/snippets/proposal_list_item.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endwith %}

  {% if object.user.id == request.user.id or request.user.is_superuser %}
    <div class="modal fade" id="update-profile-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="update-profile-form" method="POST" action="{% url 'update_profile' object.user.username %}">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{% trans "Update profile" %}</h4>
            </div>
            <div class="modal-body">
              {% bootstrap_field profile_form.about_me layout='inline' %}
              {% bootstrap_field profile_form.github layout='inline' %}
              {% bootstrap_field profile_form.facebook layout='inline' %}
              {% bootstrap_field profile_form.site layout='inline' %}
              {% bootstrap_field profile_form.username layout='inline' %}
              {% bootstrap_field profile_form.name layout='inline' %}
              {% bootstrap_field profile_form.email layout='inline' %}
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn-flat success text-upper">
                <i class="icon icon-pencil"></i>
                {% trans "submit" %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="change-language-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="change-language-form" method="POST" action="{% url 'change_language' object.user.username %}">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{% trans "Change Language" %}</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div class="form-group">
                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    {% for value, label in language_form.language.field.choices %}
                      <label class="btn btn-default {% if value == object.language %}active{% endif %}">
                        <input type="radio" name="language" value="{{ value }}" {% if value == object.language %}checked="checked"{% endif %}>
                        {{ label }}
                      </label>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn-flat success text-upper">
                <i class="icon icon-pencil"></i>
                {% trans "submit" %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/libs/jquery.linkable.js' %}"></script>
  <script src="{% static 'js/libs/jquery.cropit.js' %}"></script>

  <script type="text/javascript">
    $(function () {
      $(".linkable").linkable();

      $(".change-picture-button-js").click(function () {
        $("#profile-photo form input[type='file']").trigger("click");
      });

      $("#profile-photo form input[type='file']").change(function () {
        if ($(this).val()) {
          $(".change-picture-button-js").hide();
          $(".submit-picture-button-js").removeClass("hide");
          $(".cancel-button-js").removeClass("hide");

          var reader = new FileReader();
          reader.onload = function (e) {
            $(".avatar img").attr("src", e.target.result);
          }

          reader.readAsDataURL(this.files[0])
        }
      });

      $(".cancel-button-js").click(function (e) {
        e.preventDefault();
        $(".avatar img").attr("src", $(".hidden-profile-picture-js").val());
        $(this).addClass("hide");
        $(".submit-picture-button-js").addClass("hide");
        $(".change-picture-button-js").removeClass("hide");
        $(".change-picture-button-js").show();
      });
    });
  </script>
{% endblock scripts %}
