Django==1.9.1
MarkupSafe==0.23
PyYAML==3.11
Pygments==1.6
Werkzeug==0.9.4
coverage==3.7.1

git+https://github.com/mauricioabreu/django-activelink.git@add-django-19-support

django-allauth==0.24.1

git+https://github.com/dyve/django-bootstrap3.git@develop

django-coverage==1.2.4
django-datetime-widget==0.6
django-debug-toolbar==1.4
django-extensions==1.6.1
django-vanilla-views==1.0.4

git+https://github.com/azavea/django-queryset-csv.git@topic/support_django_1_9

djangorestframework==3.1.3
master-sake==0.9
mccabe==0.2.1
networkx==1.8.1
oauthlib==0.6.0
python-coveralls
python-openid==2.2.5
raven==5.0.0
requests-oauthlib==0.4.0
requests==2.9.1
six==1.6.1
sqlparse==0.1.18
uWSGI==2.0.5
wsgiref==0.1.2
smarturls==0.1.3
Fabric==1.9.0
