Django==1.11.4
MarkupSafe==1.0
PyYAML==3.12
Pygments==2.2.0
Werkzeug==0.12.2
coverage==4.4.1
django-activelink==0.4
django-allauth==0.33.0
django-anymail==0.11.1
django-bootstrap3==9.0.0
django-coverage==1.2.4
django-datetime-widget==0.9.3
django-debug-toolbar==1.8
django-extensions==1.9.0
django-vanilla-views==1.0.4
django-queryset-csv==1.0.0
djangorestframework==3.6.4
master-sake==0.9.7
mccabe==0.6.1
networkx==1.11
oauthlib==2.0.2
python-coveralls==2.9.1
python-openid==2.2.5
raven==6.1.0
requests-oauthlib==0.8.0
requests==2.18.4
six==1.10.0
sqlparse==0.2.3
uWSGI==2.0.15
wsgiref==0.1.2
smarturls==0.1.7
Fabric==1.14.0
pycparser==2.16
