Django==1.11.4
MarkupSafe==1.0
PyYAML==3.12
Pygments==2.2.0
Werkzeug==0.12.2
coverage==4.4.1
django-activelink==0.4
django-allauth==0.33.0
django-anymail==0.11.1
django-bootstrap3==9.0.0
django-coverage==1.2.4
django-datetime-widget==0.9.3
django-debug-toolbar==1.8
django-extensions==1.9.0
django-vanilla-views==1.0.2
django-queryset-csv==0.3.1
djangorestframework==3.1.3
master-sake==0.9
mccabe==0.2.1
networkx==1.8.1
oauthlib==0.6.1
python-coveralls==2.4.3
python-openid==2.2.5
raven==5.0.0
requests-oauthlib==0.4.0
requests==2.2.1
six==1.6.1
sqlparse==0.1.11
uWSGI==2.0.14
wsgiref==0.1.2
smarturls==0.1.3
Fabric==1.9.0
pycparser==2.16
