body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 800;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 0.75em;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none;
}

a:hover {
  color: #2c5999;
}
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

input,
label,
select {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.375em;
}

label.required:after {
  content: "*";
}
label abbr {
  display: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#speakerfight #footer {
  background: #2c3742;
  height: 70px;
  padding-top: 16px;
}

#speakerfight #footer figure {
  background-position: center center;
  background-repeat: no-repeat;
}

#speakerfight #schedule {
  position: relative;
}

#speakerfight #schedule #schedule-nav {
  display: none;
  top: 0;
  margin-bottom: 20px;
  left: 50%;
  margin-left: -600px;
  position: absolute;
  width: 1200px;
}

#speakerfight #schedule #schedule-nav::after {
  clear: both;
  content: "";
  display: table;
}

#speakerfight #schedule #schedule-nav.skrollable-between,
#speakerfight #schedule #schedule-nav.skrollable-after {
  position: fixed;
}

#speakerfight #schedule #schedule-nav li {
  height: 64px;
  line-height: 64px;
  width: 33.3333%;
  float: left;
  background: #2e4e6b;
  text-align: center;
  cursor: pointer;
}

#speakerfight #schedule #schedule-nav li label,
#speakerfight #schedule #schedule-nav li h3 {
  display: inline-block;
  color: #fff;
  font-size: 1.25em;
}

#speakerfight #schedule #schedule-nav li label {
  margin-right: 1ex;
  color: #5ba0a3;
}

#speakerfight #schedule .day h2 {
  margin: 0 0 30px;
  text-align: center;
}

#speakerfight #schedule .day .event-list .event {
  border: 3px solid #f7f7f7;
  border-bottom: none;
  position: relative;
}

#speakerfight #schedule .day .event-list .event .short {
  padding: 20px 80px 20px 240px;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 40em) {
  #speakerfight #schedule .day .event-list .event .short {
    padding: 50px 10px 10px 80px;
  }
}

#speakerfight #schedule .day .event-list .event .short .time {
  position: absolute;
  left: 80px;
  top: 20px;
  font-size: 1.25em;
  font-weight: 700;
  color: #6c7173;
}

@media screen and (max-width: 40em) {
  #speakerfight #schedule .day .event-list .event .short .time {
    font-size: 1.125em;
    top: 15px;
  }
}

#speakerfight #schedule .day .event-list .event .short .name {
  position: relative;
  min-width: 100px;
}

#speakerfight #schedule .day .event-list .event .short .name figure {
  margin: 0 20px 20px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  display: block;
  float: left;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 40em) {
  #speakerfight #schedule .day .event-list .event .short .name figure {
    float: inherit;
  }
}

#speakerfight #schedule .day .event-list .event .short .name .title {
  font-size: 1.25em;
  font-weight: 700;
  display: flex;
}

@media screen and (max-width: 40em) {
  #speakerfight #schedule .day .event-list .event .short .name .title {
    font-size: 1.125em;
    line-height: 1.1em;
    margin-bottom: 1ex;
  }
}

#speakerfight #schedule .day .event-list .event .short .name .person {
  font-size: 1.125em;
  font-weight: 700;
  display: block;
  color: #6c7173;
}

@media screen and (max-width: 40em) {
  #speakerfight #schedule .day .event-list .event .short .name .person {
    font-size: 1em;
    line-height: 1.1em;
  }
}

#speakerfight #schedule .day .event-list .event .short:before {
  content: "";
  display: block;
  width: 60px;
  background: #5ba0a3;
  position: absolute;
  left: -3px;
  top: -3px;
  bottom: 0px;
}

#speakerfight #schedule .day .event-list .event .long {
  padding: 20px 80px 20px 240px;
  background: #f7f7f7;
  position: relative;
}

@media screen and (max-width: 40em) {
  #speakerfight #schedule .day .event-list .event .long {
    padding: 20px;
  }
}

#speakerfight #schedule .day .event-list .event .long p {
  margin: 0;
  line-height: 1.25em;
}

#speakerfight #schedule .day .event-list .event .buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

#speakerfight #schedule .day .event-list .event .buttons .more-button {
  display: inline-block;
  background: #6c7173;
  padding: 4px 8px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  position: relative;
  z-index: 100000;
  cursor: pointer;
}

#speakerfight #schedule .day .event-list .event.lightning .short .name:before {
  font-weight: 700;
  padding: 0 10px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  left: -50px;
  top: 0px;
  background: #ffcc00;
  color: #fff;
  content: "";
  display: none;
}

#speakerfight #schedule .day .event-list .event.proposal .short:before {
  background: #2c3742 url(../schedule/icons/proposal.svg) no-repeat center 19px;
  background-size: auto 40px;
}

#speakerfight #schedule .day .event-list .event.proposal .short .name:after {
  font-weight: 700;
  padding: 0 10px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  left: -50px;
  top: 0px;
  background: #15c129;
  color: #fff;
  content: "";
  display: none;
}

#speakerfight #schedule .day .event-list .event.openning .short:before {
  background: #5ba0a3 url(../schedule/icons/openning.svg) no-repeat center 19px;
  background-size: auto 40px;
}

#speakerfight #schedule .day .event-list .event.coffee-break .short:before {
  background: #5ba0a3 url(../schedule/icons/coffee-break.svg) no-repeat center 19px;
  background-size: auto 40px;
}

#speakerfight #schedule .day .event-list .event.lunch .short:before {
  background: #5ba0a3 url(../schedule/icons/lunch.svg) no-repeat center 19px;
  background-size: auto 40px;
}

#speakerfight #schedule .day .event-list .event.lightning-talks .short:before {
  background: #5ba0a3 url(../schedule/icons/lightning-talks.svg) no-repeat center 19px;
  background-size: auto 40px;
}

#speakerfight #schedule .day .event-list .event.ending .short:before {
  background: #5ba0a3 url(../schedule/icons/ending.svg) no-repeat center 19px;
  background-size: auto 40px;
}
