{% extends "layout.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load deck_tags %}

{% block head_title %}{% trans "My Proposals" %}{% endblock %}

{% block content %}
  <div class="row header">
    <h2><strong>{% trans "My Proposals" %}</strong></h2>
  </div>
  <div class="row" id="proposal-list">
    <div class="col-md-12">
      <div id="event-proposals">
        {% for proposal in object_list %}
          {% include "proposal/snippets/proposal_list_item.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
