{% extends "layout.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}
  {% if form.instance.pk %}
    {% trans "Update Proposal" %}: "{{ object }}"
  {% else %}
    {% trans "New Proposal" %}
  {% endif %}
{% endblock %}

{% block head %}
  <!-- libraries for this page -->
  <link href="{{ STATIC_URL }}css/libs/uniform.default.css" type="text/css" rel="stylesheet" />
{% endblock head %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'index_page' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'list_events' %}">{% trans "Events" %}</a></li>
    <li><a href="{% url 'view_event' slug=event.slug %}">{{ event.title }}</a></li>
    {% if form.instance.pk %}
    <li class="active">Update Proposal</li>
    {% else %}
    <li class="active">New Proposal</li>
    {% endif %}
  </ol>

  <div class="row header">
    <h2>
      {% if form.instance.pk %}
        {% trans "Update Proposal" %} "{{ object }}"
      {% else %}
        {% trans "New Proposal for" %} "{{ event }}"
      {% endif %}
    </h2>
  </div>
  <div class="row form-wrapper">
    <!-- left column -->
    <div class="column">
      <form method="POST" novalidate>
        {% csrf_token %}

        {% if form.errors.description %}
          <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>{% trans 'Description' %}</strong>
              {{ form.errors.description }}
          </div>
        {% endif %}

        {% bootstrap_form form layout="inline" %}

        {% buttons %}
          <button type="submit" class="btn-flat success text-upper">
            <i class="icon icon-edit"></i>
            {% trans "submit" %}
          </button>
          <div class="pull-right">
            <a href="{% url 'view_event' slug=event.slug %}" class="link text-upper">
              <i class="icon-calendar"></i>
              {% trans "event detail" %}
            </a>
          </div>
        {% endbuttons %}
      </form>
    </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <!-- scripts for this page -->
  <script src="{{ STATIC_URL }}js/libs/jquery.uniform.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/tinymce/tinymce.min.js"></script>
  <script src="{{ STATIC_URL }}js/forms.js"></script>
{% endblock scripts %}
