{% extends "layout.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load deck_tags %}

{% block head %}
  <style type="text/css">
    tr td.first-has-no-border:first-child {
      border-top: none;
    }
  </style>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f777bac7bca077f" async="async"></script>
{% endblock head %}

{% block head_title %}{{ event }}{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'index_page' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'list_events' %}">{% trans "Events" %}</a></li>
    <li class="active">{{ event.title }}</li>
  </ol>

  <!-- header -->
  <div class="row" id="event-detail">
    <div class="col-md-12">
      {% include "event/snippets/event_list_item.html" with event_detail=True %}
    </div>

    {% if not event.allow_public_voting %}
    <div class="col-md-12">
      <div class="alert alert-warning">
        <i class="icon-eye-close"></i>
        {% blocktrans %}
          This event doesn't accept <strong>Public Voting</strong>, because of this you can only see your own proposals.
        {% endblocktrans %}
      </div>
    </div>
    {% endif %}

    <div class="col-md-10 col-md-offset-1">
      <div class="event-proposals-header">
        {% if event.due_date_is_passed %}
          <span class="pull-right text-danger">
            <i class="icon-warning-sign"></i>
            The event is no longer accepting proposals.
          </span>
        {% else %}
          <a class="btn-flat success pull-right text-upper" href="{% url 'create_event_proposal' slug=event.slug %}">
            <i class="icon-plus"></i>
            {% trans "Send a proposal" %}
          </a>
        {% endif %}

        <h3>{% trans "Proposals" %}</h3>
      </div>

      <div id="event-proposals">
        {% for proposal in event_proposals %}
          <div id="{{ proposal.slug }}" class="panel panel-default proposal-item">
            <div class="panel-body">
              <h3 class="panel-title proposal-title">
                <a href="#{{ proposal.slug }}">
                  {{ proposal }}
                </a>
              </h3>
              <p class="proposal-metadata">
                {% blocktrans with author=proposal.author.get_full_name|default:proposal.author.username created_at=proposal.created_at %}
                Proposed by <strong>{{ author }}</strong> at {{ created_at }}
                {% endblocktrans %}
              </p>
              <div class="proposal-description">
                {{ proposal.description|safe|linebreaks }}
              </div>
              {% include "event/vote_block.html" %}
            </div>
            {% if proposal.author_id == request.user.id or request.user.is_superuser %}
            <div class="panel-footer proposal-actions text-center">
              <a href="{% url 'update_proposal' event_slug=event.slug slug=proposal.slug %}" class="btn-flat gray text-upper" data-toggle="tooltip" title="{% trans "Edit the proposal." %}">
                <i class="icon-pencil"></i> {% trans "Edit" %}
              </a>
            </div>
            {% endif %}
          </div>
        {% empty %}
          <p class="lead">
            {% trans "There are no proposals to show" %}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{{ STATIC_URL }}js/libs/jquery.linkable.js"></script>

  <script type="text/javascript">
    $(function () {
      $(".linkable").linkable();

      $(".voting-link").on('click', function(e) {
        e.preventDefault();
        var $me = $(this);
        if ($me.attr('href')) {
          $.ajax(
            $me.attr('href')
          ).success(function(data, status, xhr) {
            $me.parent('.proposal-votes').find('.voting-link').not($me).remove()
            $me.attr('href', '');
          }).error(function(xhr, status, error) {
            if (xhr.status == 405) {
              window.location.href = xhr.responseText;
            } else {
              alert(error);
            }
          });
        }
      });
    });
  </script>
{% endblock scripts %}
