<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ STATIC_URL }}grade/style.css">
    <title>Speakerfight - {{ event }}</title>
  </head>
  <body>
    <div id="speakerfight">
      <div class="grade" id="grade">
        {% for track in event.tracks.all %}
          <div class="day" id="day-{{ forloop.counter }}">
            <ul class="event-list">
              {% for activity in track.activities.all %}
                {% if activity.activity_type == activity.PROPOSAL %}
                  <li class="event normal">
                    <div class="short">
                      <div class="time">{{ activity.timetable }}</div>
                      <div class="name">
                        <figure class="face" style="background-image: url(https://avatars.githubusercontent.com/u/1490875?v=3)">&nbsp;</figure>
                        <span class="title">{{ activity.title|title }}</span>
                        <span class="person">{{ activity.author.get_full_name|default:activity.author.username }}</span>
                      </div>
                    </div>
                    <div class="long" style="display: none;">
                      {{ activity.description|safe|linebreaks }}
                    </div>
                    <div class="buttons">
                      <span class="close-button">Close</span>
                      <a href="" class="more-button">More</a>
                    </div>
                  </li>
                {% else %}
                  <li class="event {{ activity.activity_type }}">
                    <div class="short">
                      <div class="time">{{ activity.timetable }}</div>
                      <div class="name">
                        <span class="title">{{ activity.title }}</span>
                      </div>
                    </div>
                    {% if activity.description %}
                      <div class="long" style="display: none;">
                        {{ activity.description|safe|linebreaks }}
                      </div>
                      <div class="buttons">
                        <span class="close-button">Close</span>
                        <a href="" class="more-button">More</a>
                      </div>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}grade/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}grade/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}grade/iframeResizer.contentWindow.min.js"></script>
  </body>
</html>