{% extends "layout.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Events" %}{% endblock %}

{% block content %}
  <div class="row header">
    <h2><strong>{% trans "Events" %}</strong></h2>
    <a href="{% url 'create_event' %}" class="btn-flat success pull-right text-upper">
      <i class="icon-plus"></i>
      {% trans "new event" %}
    </a>
  </div>

  <div class="row visible-xs">
    <div class="col-xs-12">
      <form method="post" role="search">
        <div id="responsive-search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{% trans 'Search Events' %}" value="{{ criteria }}" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button">
                <i class="icon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Users table -->
  <div class="row" id="events-list">
    <div class="col-md-12">
      {% for event in event_list %}
        {% include "event/snippets/event_list_item.html" %}
      {% empty %}
        <h3 class="text-center">
          {% trans "There are no events to show to you :(" %}
          {% if criteria %}
            <br />
            <small class="text-center">
              <a href="{% url 'list_events' %}" class="btn btn-link" title="{% trans 'Back to the event list' %}">
                <i class="icon-arrow-left"></i> {% trans 'Back to the event list' %}
              </a>
            </small>
          {% endif %}
        </h3>
      {% endfor %}
    </div>
  </div>
  <!-- end events table -->
{% endblock content %}


{% block scripts %}
  <script src="{{ STATIC_URL }}js/libs/jquery.linkable.js"></script>

  <script type="text/javascript">
    $(function () {
      $(".linkable").linkable();
    });
  </script>
{% endblock scripts %}
