{% extends "layout.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}
  {% if form.instance.pk %}
    {% trans "Update" %}: "{{ event }}"
  {% else %}
    {% trans "New Event" %}
  {% endif %}
{% endblock %}

{% block head %}
  <!-- libraries for this page -->
  <link href="{{ STATIC_URL }}css/libs/uniform.default.css" type="text/css" rel="stylesheet" />
  {{ form.media }}
{% endblock head %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'index_page' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'list_events' %}">{% trans "Events" %}</a></li>
    {% if form.instance.pk %}
    <li><a href="{% url 'view_event' slug=event.slug %}">{{ event.title }}</a></li>
    <li class="active">Update</li>
    {% else %}
    <li class="active">New Event</li>
    {% endif %}
  </ol>

  <div class="row header">
    <h2>
      {% if form.instance.pk %}
        {% trans "Update" %}: "{{ event }}"
      {% else %}
        {% trans "New Event" %}
      {% endif %}
    </h2>
  </div>
  <div class="row form-wrapper">
    <!-- left column -->
    <div class="column">
      <form method="POST" novalidate>
        {% csrf_token %}
        {% if form.errors.description %}
          <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>{% trans 'Description' %}</strong>
              {{ form.errors.description }}
          </div>
        {% endif %}
        {% bootstrap_form form layout='inline' %}

        {% buttons %}
          <button type="submit" class="btn-flat success text-upper">
            <i class="icon icon-edit"></i>
            {% trans "submit" %}
          </button>
          <div class="pull-right">
            {% if form.instance.pk %}
              <a href="{% url 'view_event' slug=form.instance.slug %}" class="link text-upper">
                <i class="icon-calendar"></i>
                {% trans "event detail" %}
              </a> |
            {% endif %}
            <a href="{% url 'list_events' %}" class="link text-upper">
              <i class="icon-calendar-empty"></i>
              {% trans "event list" %}
            </a>
          </div>
        {% endbuttons %}
      </form>
    </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <!-- scripts for this page -->
  <script src="{{ STATIC_URL }}js/libs/jquery.uniform.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/tinymce/tinymce.min.js"></script>
  <script src="{{ STATIC_URL }}js/forms.js"></script>

  <!-- call this page plugins -->
  <script type="text/javascript">
    $(function () {
      // add uniform plugin styles to html elements
      $("input:checkbox, input:radio").uniform();
    });
  </script>
{% endblock scripts %}
