{% extends "layout.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load deck_tags %}

{% block head %}
  <style type="text/css">
    tr td.first-has-no-border:first-child {
      border-top: none;
    }
  </style>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f777bac7bca077f" async="async"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/proposals.css" type="text/css" media="screen" />
{% endblock head %}

{% block head_title %}{{ event }}{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'index_page' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'list_events' %}">{% trans "Events" %}</a></li>
    <li class="active">{{ event.title }}</li>
  </ol>

  <!-- header -->
  <div class="row" id="event-detail">
    <div class="col-md-12">
      {% include "event/snippets/event_list_item.html" with event_detail=True %}
    </div>

    {% if not event.allow_public_voting %}
    <div class="col-md-12">
      <div class="alert alert-warning">
        <i class="icon-eye-close"></i>
        {% blocktrans %}
          This event doesn't accept <strong>Public Voting</strong>, because of this you can only see your own proposals.
        {% endblocktrans %}
      </div>
    </div>
    {% endif %}

    {% if event.anonymous_voting %}
    <div class="col-md-12">
      <div class="alert alert-warning">
        <i class="icon-eye-close"></i>
        {% blocktrans %}
          This event is in the <strong>Anonymous Voting</strong> mode, all the speakers are hidden for voting, you should base your vote just in the content of the proposals.
        {% endblocktrans %}
      </div>
    </div>
    {% endif %}

    <div class="col-md-10 col-md-offset-1">
      <div class="event-proposals-header">
        {% if event.due_date_is_passed %}
          <span class="pull-right text-danger">
            <i class="icon-warning-sign"></i>
            {% trans "The event is no longer accepting proposals." %}
          </span>
        {% else %}
          <a class="btn-flat success pull-right text-upper" href="{% url 'create_event_proposal' slug=event.slug %}">
            <i class="icon-plus"></i>
            {% trans "Send a proposal" %}
          </a>
        {% endif %}

        <h3>{% trans "Proposals" %}</h3>
      </div>

      <div id="event-proposals">
        {% for proposal in event_proposals %}
          <div id="{{ proposal.slug }}" class="panel panel-default proposal-item">
            <div class="panel-body">
              {% if not event.anonymous_voting %}
              <img src="{{ proposal.author|get_user_photo }}" alt="author photo" class="img-circle pull-right author-photo">
                {% for coauthor  in  proposal.coauthors.all %}
                  <img src="{{ coauthor|get_user_photo }}" alt="author photo" class="img-circle pull-right author-photo">
                {% endfor %}
              {% endif %}
              <h3 class="panel-title proposal-title">
                <a href="#{{ proposal.slug }}">
                  {{ proposal }}
                </a>
              </h3>
              <p class="proposal-metadata">
                {% if not event.anonymous_voting %}
                  {% blocktrans with profile_url=proposal.author.profile.get_absolute_url author=proposal.author.get_full_name|default:proposal.author.username created_at=proposal.created_at %}
                  Proposed by <strong><a href="{{ profile_url }}">{{ author }}</a></strong> at {{ created_at }}.
                  {% endblocktrans %}
                {% else %}
                  {% blocktrans with created_at=proposal.created_at %}
                  Proposed at {{ created_at }}.
                  {% endblocktrans %}
                {% endif %}
                {% if event.author_id == request.user.id or event|is_user_in_jury:request.user or request.user.is_superuser %}
                  {% if proposal.more_information %}
                    <br>
                    <blockquote>{{ '* '|add:proposal.more_information|safe|linebreaks }}</blockquote>
                  {% endif %}
                  <br>
                  {% with votes_count=proposal.votes.count %}
                    {% if votes_count > 0 %}
                      {% blocktrans with votes_count=votes_count vote_pluralize=votes_count|pluralize %}
                        This proposal already received {{ votes_count }} vote{{ vote_pluralize }}.
                      {% endblocktrans %}
                    {% else %}
                      {% trans "This proposal never received a vote." %}
                    {% endif %}
                  {% endwith %}
                {% endif %}
              </p>
              <div class="proposal-description">
                {{ proposal.description|safe|linebreaks }}
              </div>
              {% include "event/vote_block.html" %}
            </div>
            {% if request.user in event.jury.users or request.user.is_superuser or proposal.author_id == request.user.id %}
              <div class="panel-footer proposal-actions text-center">
                {% if request.user in event.jury.users or request.user.is_superuser %}
                  {% if proposal.is_approved %}
                    <a href="{% url 'disapprove_proposal' event_slug=event.slug slug=proposal.slug %}" class="btn-flat gray text-upper disapprove-link" data-toggle="tooltip" title="{% trans 'Disapprove the proposal.' %}">
                      <i class="icon-check-empty"></i>
                      <span>{% trans "Disapprove" %}</span>
                    </a>
                  {% else %}
                    <a href="{% url 'approve_proposal' event_slug=event.slug slug=proposal.slug %}" class="btn-flat gray text-upper approve-link" data-toggle="tooltip" title="{% trans 'Approve the proposal.' %}">
                      <i class="icon-check"></i>
                      <span>{% trans "Approve" %}</span>
                    </a>
                  {% endif %}
                {% endif %}
                {% if proposal.author_id == request.user.id or request.user.is_superuser %}
                    <a href="{% url 'update_proposal' event_slug=event.slug slug=proposal.slug %}" class="btn-flat gray text-upper" data-toggle="tooltip" title="{% trans 'Edit the proposal.' %}">
                      <i class="icon-pencil"></i> {% trans "Edit" %}
                    </a>
                    <a href="{% url 'delete_proposal' event_slug=event.slug slug=proposal.slug %}" class="btn-flat gray text-upper" data-toggle="tooltip" title="{% trans 'Delete the proposal.' %}">
                      <i class="icon-trash"></i> {% trans "Delete" %}
                    </a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% empty %}
          <p class="lead">
            {% trans "There are no proposals to show" %}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{{ STATIC_URL }}js/libs/jquery.linkable.js"></script>
  <script src="{{ STATIC_URL }}js/voting.js"></script>

  <script type="text/javascript">
    $(function () {
      $(".linkable").linkable();
    });
  </script>
{% endblock scripts %}
