{% extends "public_layout.html" %}

{% load i18n %}

{% block head_title %}Index{% endblock head_title %}

{% block content %}

  <div class="row" id="hero">
    <div class="col-md-8">
      <h1>
        {% blocktrans %}
          <strong>Speakerfight</strong> is an arena where the speakers can
          fight each other and the people choose who wins.
        {% endblocktrans %}
      </h1>
    </div>
    <div class="col-md-4">
      <a href="{% url 'list_events' %}" class="btn-flat info big-button text-center">{% trans "GET STARTED" %}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      {% blocktrans with events=events events_plural=events|pluralize proposals=proposals proposals_plural=proposals|pluralize users=users users_plural=users|pluralize%}
        <h2>
          Right now we have <strong>{{ events }} event{{ events_plural }}</strong>,
          <br>
          <strong>{{ proposals }} proposal{{ proposals_plural }}</strong> and
          <strong>{{ users }} user{{ users_plural }}</strong> at Speakerfight.
        </h2>
      {% endblocktrans %}
    </div>
  </div>

  <hr>

  <h1 class="text-center">{% trans "Some features" %}</h1>

  <hr>

  <div class="row">
    <div class="col-lg-offset-1 col-lg-3 col-md-4">
      <h2>{% trans "Event list" %}</h2>
      <p>{% trans "The event list show all public events to let you join to the vote." %}</p>
      <p>{% trans "You can create new events and receive proposals from anyone in the world. All the events can be either public or private." %}</p>
    </div>
    <div class="col-lg-6 col-md-8">
      <img src="{{ STATIC_URL }}img/event-list.png" alt="{% trans "Event List" %}" width="100%" class="image-shadow" />
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-offset-1 col-lg-6 col-md-8">
      <img src="{{ STATIC_URL }}img/event-detail.png" alt="{% trans "Event details" %}" width="100%" class="image-shadow" />
    </div>
    <div class="col-lg-3 col-md-4">
      <h2>{% trans "Event details" %}</h2>
      <p>{% trans "Every event can be configured to receive votes from everyone, only logged users or only the people you choose." %}</p>
      <p>{% trans "All the events have an URL that can be shared as you like." %}</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-offset-1 col-lg-3 col-md-4">
      <h2>{% trans "Event Jury" %}</h2>
      <p>{% trans "The event jury show all the people who can vote in a private Event." %}</p>
    </div>
    <div class="col-lg-6 col-md-8">
      <img src="{{ STATIC_URL }}img/event-jury.png" alt="{% trans "Event Jury" %}" width="100%" class="image-shadow" />
    </div>
  </div>

  <hr>

  <div class="row" id="join-call-to-action">
    <div class="col-md-12 text-center">
      <h1>{% trans "Enter in the arena" %}</h1>
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <a href="{% url 'list_events' %}" class="btn-flat info big-button text-center">{% trans "JOIN THE FIGHTERS" %}</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
