{% load staticfiles %}
{% load i18n %}

<header class="navbar navbar-inverse" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'list_events' %}">
      <img src="{% static 'img/speakerfight.png' %}" alt="logo" />
    </a>
  </div>
  <ul class="nav navbar-nav pull-right">
    <form method="GET" action="{% url 'list_events' %}" class="navbar-form navbar-left hidden-xs" role="search">
      <div class="form-group">
        <input type="text" name="search" class="form-control" placeholder="{% trans 'Search Events' %}" value="{{ criteria|default:'' }}">
      </div>
      <span class="input-group-btn">
        {% if criteria %}
          <button type="button" class="btn btn-info btn-lg reset-search">
            <i class="icon-remove"></i>
          </button>
        {% else %}
          <button type="submit" class="btn btn-info btn-lg">
            <i class="icon-search"></i>
          </button>
        {% endif %}
      </span>
    </form>
    
    {% include "snippets/login_button.html" %}
  </ul>
</header>
