{% load bootstrap3 %}
{% load i18n %}

<!DOCTYPE html>
<html class="login-bg">
  <head>
    <title>
      Speaker Fight -
      {% block head_title %}{% endblock head_title %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}/img/speakerfight.ico"/>

    <!-- bootstrap -->
    <link href="{{ STATIC_URL }}css/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/lib/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/elements.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/font-awesome.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <a href="{% url 'index_page' %}">
        <img src="{{ STATIC_URL }}img/speakerfight.png" class="logo" alt="logo" />
      </a>
    </div>

    <div class="content-wrap col-md-offset-1 col-md-10">
      <div class="col-md-offset-2 col-md-8" style="text-align: left">
        {% if redirect_field_value %}
          <div class="col-md-12">
            <div class="alert alert-info alert-dismissable">
              <i class="icon-exclamation-sign"></i>
              {% trans "You need to be logged in to continue to the next step." %}
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
            </div>
          </div>
        {% endif %}
        {% bootstrap_messages messages %}
      </div>

      {% block content %}{% endblock content %}

      <div class="col-md-offset-2 col-md-8 footer-icons">
        <hr>
        <a href="https://github.com/luanfonceca/speakerfight" target="_blank">
          <i class="icon-github-sign"></i>
        </a>
      </div>
    </div>

    <!-- scripts -->
    <script src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/theme.js"></script>
  </body>
</html>