.flat-icon:not(.no-hover) {
  opacity: 0.5;
  text-decoration: none;
}

.flat-icon:hover {
  opacity: 1;
}

.flat-icon i {
  display: inline-block;
  background: url("../img/flat-icons.svg") no-repeat;
  width: 80px;
  height: 80px;
  zoom: 75%;
  margin: 10px 0;
}

.flat-icon i.detail{
  background-position: -10px -5px;
}

.flat-icon i.detail.black{
  background-position: -568px -87px;
}

.flat-icon i.update{
  background-position: -90px -5px;
}

.flat-icon i.update.black{
  background-position: -493px -87px;
}


.flat-icon i.delete{
  background-position: -495px -5px;
}

/*.flat-icon i.manage{
  background-position: -229px;
}
*/
.flat-icon i.publish{
  background-position: -250px -5px;
}

.flat-icon i.save{
  background-position: -320px;
}

.flat-icon i.unpublish{
  background-position: -335px -8px;
}

.flat-icon i.url{
  background-position: -570px -4px;
}

.flat-icon i.angry.black, .flat-icon i.sad.black{
  width: 70px;
}

.flat-icon i.angry.black{
  background-position: -19px -127px;
}

.flat-icon i.sleepy.black{
  background-position: -126px -125px;
}

.flat-icon i.sad.black{
  background-position: -239px -126px;
}

.flat-icon i.happy.black{
  background-position: -344px -125px;
}

.flat-icon i.laughing.black{
  background-position: -460px -122px;
}

.flat-icon i.jury.black{
  background-position: -648px -85px;
}

.flat-icon i.export.black{
  background-position: -728px -85px;
}
