.vote-buttons {
  display: flex;
  max-width: 365px;
  margin: auto;
  justify-content: space-around;
  flex-flow: wrap;
}

.vote-buttons p, #succes-vote-alert, #error-vote-alert{
  flex-basis: 100%;
}
