body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: $ff-default;
  font-size: 1em;
  line-height: 1.5;
  padding: 0;
  margin: 1px;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

input,
label,
select {
  display: block;
  font-family: $ff-default;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.375em;

  &.required {
      &:after {
          content: "*";
      }
  }

  abbr {
    display: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.event-header {
  padding: 20px 0px;
  color: white;
  text-align: center;
  background: $blue-primary;
}
