// Colors

$gray: #6C7173;
$white: #F7F7F7;
$green-primary: #5BA0A3;
$blue-primary: #2C3742;
$blue-light: #477DCA;
$blue-light-hover: #2C5999;

// Typos

$ff-default: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
